-- Script to update votes table constraint
ALTER TABLE votes DROP CONSTRAINT IF EXISTS votes_match_id_voter_id_key;
ALTER TABLE votes ADD CONSTRAINT votes_match_id_voter_id_voted_id_key UNIQUE (match_id, voter_id, voted_id);
